.done {
  background-color: green;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  height: 30px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  height: 30px;
  cursor: pointer;
}

.edit {
  background-color: blue;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  height: 30px;
  cursor: pointer;
}
